/* 
* - This is CSS Template.
* - It is a responsive CSS library designed for computers, phones, and Pad.
* - author:gogh
* - version:2023.05.03
*/

/* 
* - This is CSS Template.
* - It is a responsive CSS library designed for computers, phones, and Pad.
* - author:gogh
* - version:2023.05.03
*/
* {
  box-sizing: border-box;
  line-height: 150%;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--dark);
  text-decoration: none;
  scroll-behavior: smooth;
}
html {
  width: 100vw;
  height: 100vh;
}
body,header {
  width: 100%;
 }
body {
  height: 100%;
  overflow-x: hidden;
}


/* + HTML Basic Elements - 页面基础元素*/
        /* - Color System - 颜色体系*/
        :root{
            /* - Basic color -- 基础色*/
            --mango: #ffca28;
            
            --light:#cecece;
            --Gray:#868e96;
            --dark:#2e3b43;
            /* - Assistant Color 辅色 */
            --plum: #77216f;
            --Success: #198754;
            --Danger: #dc3545;
            --Warning: #ffc107;
        }
        /*  + Typography - 字体排版*/
        /*  - Headings - 标题*/
        h1{font-size: 3rem;}
        h2{font-size: 2.5rem;}
        h3{font-size: 2rem;}
        h4{font-size: 1.5rem;}
        h5{font-size: 1.25rem;}
        h6{font-size: 1rem;}
        h7{font-size: 0.8rem;}
        /*  - + Paragraph -  段落*/

        /* ---Large Paragraph - 大段落 */

        /* ---Medium Paragraph - 中段落 */

        /* ---Small Paragraph - 中段落 */

        /* --- Text - 正文*/

/* + HTML Components - 页面组件*/

        /* -- Breadcrumb - 面包屑导航 */

        /* -- Card - 卡片 */

        /* -- Dropdown*/

        /* --Carousel - 图片轮播*/
.Carousel{
  width:80%;
  overflow: hidden;
  background: #2e3b43;
}
.pic-box{
  width:calc(100% * 5) ;
  display: flex;
  
  animation: swiper 10s linear infinite;
}
.pic-box li img{
  width: 100%;
}
@keyframes swiper{
0%{
   transform: translateX(0 );
}
5%{
  transform: translateX(-20%);
}
25%{
  transform: translateX(-20%);
}
30%{
transform: translateX(-40%);
}
50%{
transform: translateX(-40%);
}
55%{
transform: translateX(-60%);
}
75%{
transform: translateX(-60%);
}
80%{
transform: translateX(-80%);
}
100%{
transform: translateX(-80%);
}
}
        /* -- Menu */

        /* -- Messag*/

        /* -- Modal - 情态动词*/

        /* -- Navbar - 导航栏*/

        /* -- Pagination - 分页*/

        /* panel - 面板 */

        /* Tabs - 选项卡*/
/* Responsiveness Layout - 响应式布局 */
header {
  height: 3rem;
  background: whitesmoke;
  position: fixed;
  top:0;
  box-shadow:0 -0.5rem 1rem  #2e3b43;
  display: flex;
  flex-direction: row;
  align-items: center;

}
header a{
  display: flex;
  padding-left: 2rem;
  flex-direction: row;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--plum);
}
.container{
  width: 100%;
  margin-top: 4rem;
  display: grid;
   grid-template-columns: 1fr 3fr;
   overflow: hidden;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}
aside{
   height: 100%;
    overflow: hidden;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}
aside{
  min-width: 20rem;
 padding:0 0 0 2rem ;
}
main{
 padding-right: 2rem;
}
.row{
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . ."; 
  grid-area: row; 
  gap: 3rem;
}
.card{
  overflow: hidden;
  border: 1px solid var(--light);
  border-radius: 0.5rem;
}
.card,.card-img{
  width: 100%;

}
.card-body{
  padding: 1rem;
}
.page02 ul li{
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--Gray);
}
.page02 ul li code{
 flex-basis: 10%;
}
.page02 ul li code,.page02 ul li label{
  color: var(--Danger);
}