/* 
* - This is CSS Template.
* - It is a responsive CSS library designed for computers, phones, and Pad.
* - author:gogh
* - version:2023.05.03
*/

* {
  box-sizing: border-box;
  line-height: 150%;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--dark);
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  width: 100vw;
  height: 100vh;
}

body,
header {
  width: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-size:0.875rem ;
}


/* + HTML Basic Elements - 页面基础元素*/
/* - Color System - 颜色体系*/
:root {
  /* - Basic color -- 基础色*/
  --mango: #ffca28;
  --light: #cecece;
  --Gray: #868e96;
  --dark: #2e3b43;
  /* - Assistant Color 辅色 */
  --plum: #77216f;
  --Success: #198754;
  --Danger: #dc3545;
  --Warning: #ffc107;
  --highlight: #f3f2f2;
 
}

/*-Background Color*/
.bgc-gradient {
  background:
    radial-gradient(circle at 50% 0,
      rgba(255, 255, 255, 0.618),
      rgba(255, 0, 0, 0) 70.71%),
    radial-gradient(circle at 6.7% 75%,
      rgba(119, 33, 111, 0.618),
      rgba(0, 0, 255, 0) 70.71%),
    radial-gradient(circle at 93.3% 75%,
      rgba(233, 84, 32, 0.618),
      rgba(0, 255, 0, 0) 70.71%);
  background-attachment: fixed;
}

.mica {
  background: rgba(245, 245, 245, 0.382);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);

}

/*Effects阴影*/
.shadow {
  box-shadow: 0 -0.1rem 1rem rgba(128, 128, 128, .3);
}

/*rounded-圆角*/
.rounded-r {
  border-radius:0.5rem;
}

.rounded-2r {
  border-radius: 1rem;
}

.rounded-2r {
  border-radius: 1.5rem;
}

/*  + Typography - 字体排版*/
/*  - Headings - 标题*/
h1 {
  font-size: 1.875rem;
  line-height: 3.75rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 2.5;
}

h4 {
  font-size: 1.125rem;
  line-height: 2.25rem;
}

h5 {
  font-size: 1rem;
  line-height: 2rem;
}

h6 {
  font-size: 0.875rem;
  line-height: 1.75rem;
}

h7 {
  font-size: 0.75rem;
}

/*  - + Paragraph -  段落*/

/* ---Large Paragraph - 大段落 */

/* ---Medium Paragraph - 中段落 */

/* ---Small Paragraph - 中段落 */

/* --- Text - 正文*/

/* + HTML Components - 页面组件*/

/* -- Breadcrumb - 面包屑导航 */

/* -- Card - 卡片 */
.card {
  border: 1px solid var(--light);
  border-radius: 0.5rem;
  background: rgba(245, 245, 245, 0.382);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  padding: 1rem;
  
}
.card:hover{box-shadow: 0 -0.1rem 1rem rgba(128, 128, 128, .3);}
.card .card-img {
  width: 100%;
  aspect-ratio: 16/9;
}

.card-body {

}
/*目录树*/
details{

  /*垂直线*/
  /* background: repeating-linear-gradient( #999 0 1px,transparent 0px 2px) 40px 0px/1px 100% no-repeat; */
}
details[open]>summary::before{
  background: linear-gradient(#999, #999) 50%/10px 1px no-repeat;/*方一字*/
}
.tree>details{
  padding-left: 1rem;
}

.tree summary{
  display: flex;
  align-items: center;
 /*水平线*/
 background: linear-gradient(#999,#999) 0px 50%/25px 1px no-repeat;
}

.tree summary::before{
  content: '';
  width: .875rem;
  height:.875rem;
  flex-shrink: 0;
  margin-right:.5rem;
 border: 1px solid #999; 
  background: linear-gradient(#999, #999) 50%/1px 10px no-repeat,linear-gradient(#999, #999)  50%/10px 1px no-repeat;
}
details[open]>summary::before{
  background: linear-gradient(#999, #999) 50%/10px 1px no-repeat;
}
.tree ul{
  margin-left: 0.5rem;
  border-left: 1px dashed #999;
}
details ul li::before{
  content: '--';
  color: #999;
  width: .875rem;
  height:.875rem;
  flex-shrink: 0;
}
..tree summary:hover::after,details li:hover::after{
  content: ' ';
  position:absolute;
  left: 0;
  width: 16rem;
  height: 1.5rem;
  border-radius: .5rem;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
}
/* -- Dropdown*/

/* --Carousel - 图片轮播*/
.Carousel {
  margin: 1rem auto;
  width:86%;
  aspect-ratio: 16/9;
  overflow: hidden;
  background: #2e3b43;
}

.pic-box {
  width: calc(100% * 5);
  display: flex;
  animation: swiper 10s linear infinite;
}

.pic-box li img {
  width: 100%;
}

@keyframes swiper {
  0% {
    transform: translateX(0);
  }

  5% {
    transform: translateX(-20%);
  }

  25% {
    transform: translateX(-20%);
  }

  30% {
    transform: translateX(-40%);
  }

  50% {
    transform: translateX(-40%);
  }

  55% {
    transform: translateX(-60%);
  }

  75% {
    transform: translateX(-60%);
  }

  80% {
    transform: translateX(-80%);
  }

  100% {
    transform: translateX(-80%);
  }
}

/* -- Menu */

/* -- Messag*/

/* -- Modal - 情态动词*/

/* -- Navbar - 导航栏*/
nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav>ul{
  display: flex;
}
nav>ul>li{
  padding:0 .5rem ;
}
/* -- Pagination - 分页*/

/* panel - 面板 */

/* Tabs - 选项卡*/
/* Responsiveness Layout - 响应式布局 */
.container {
  width: 100%;
  
}

header {
  width: 100%;
  height: 2rem;
  position: fixed;
  z-index: 999;
  top: 0;

}

header a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header a h4 {
  color: var(--plum);
  margin-right: .5rem;
}

header a span {
  color: var(--light);
  background: var(--plum);
  padding: 0 .25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 666;
}

nav,
.content {
  width: 75%;
  margin: 0 auto;
}

.content {
  margin-top: 3rem;
}
aside {
position: fixed;
min-width:16rem;
display: flex;
flex-direction: column;

}

main {
  width: calc(100% - 16rem);
  margin-left: 16rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

article {
  padding: 1.5rem;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". . . .";
  grid-area: row;
  gap: 1rem;
}
.page-title{
  border-top: 2px solid var(--dark);
}
.page-title>li{
  border: 1px solid var(--Gray);
  border-left: none;
  border-right: none;
}

.page02 ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--Gray);
}

.page02 ul li code {
  flex-basis: 10%;
}

.page02 ul li code,
.page02 ul li label {
  color: var(--Danger);
}